[tool.poetry]
name = "wsidicomizer"
version = "0.1.0"
description = "Tool for converting wsi-files to DICOM"
authors = ["Erik O Gabrielsson <erik.o.gabrielsson@sectra.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/imi-bigpicture/wsidicomizer"
keywords = ["whole slide image", "digital pathology", "dicom", "converter"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Medical Science Apps."
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
wsidicom = "^0.1.0"
opentile = "^0.1.0"
openslide-python = "^1.1.2"
numpy = "^1.21.2"
pydicom = "^2.2.1"
highdicom = "^0.9.2"
czifile = "^2019.7.2"
imagecodecs = "^2021.8.26"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-watch = "^4.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
wsidicomizer = "wsidicomizer.cli:main"
