[tool.poetry]
name = "wsidicomizer"
version = "0.12.0"
description = "Tool for reading WSI files from proprietary formats and optionally convert them to to DICOM"
authors = ["Erik O Gabrielsson <erik.o.gabrielsson@sectra.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/imi-bigpicture/wsidicomizer"
keywords = ["whole slide image", "digital pathology", "dicom", "converter"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Medical Science Apps."
]

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
wsidicom = "^0.18.1"
opentile = "^0.11.1"
numpy = "^1.22.0"
pydicom = ">=2.1.0"
czifile = ">=2019.7.2"
tiffslide = "^2.1.1"
openslide-python = { version = "^1.1.2", optional = true }
scyjava = { version = "^1.8.1", optional = true }
ome-types = {version = "^0.4.0", optional = true }

[tool.poetry.extras]
openslide = ["openslide-python"]
bioformats = ["scyjava", "ome-types"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-watch = "^4.2.0"
requests = "^2.28.1"
dicom-validator = "^0.4.0"
black = "^22.12.0"
openslide-python = "^1.1.2"
coverage = "^7.2.7"
codespell = "^2.2.5"
flake8 = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
wsidicomizer = "wsidicomizer.cli:main"
bioformats_wsidicomizer = "wsidicomizer.extras.bioformats.bioformats_cli:main"
