name: pytest

on: [push, pull_request]

jobs:
  cache_test_images:
    name: cache test images
    runs-on: ubuntu-latest
    steps:
      - name: Prevent cache-miss on windows
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Load test images from cache
        id: cache-test-images
        uses: actions/cache@v4
        with:
          key: test-images-cache-${{ hashFiles('tests/download_test_images.py') }}
          path: tests/testdata/slides
          enableCrossOsArchive: true
      - name: Download test images
        if: ${{ steps.cache-test-images.outputs.cache-hit != 'true' }}
        run: |
          python -m pip install -U pip
          python -m pip install requests
          python tests/download_test_images.py

  tests:
    needs: [cache_test_images]
    name: pytest ${{ matrix.os }}::py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Prevent cache-miss on windows
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Use GNU tar instead BSD tar
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: echo C:\Program Files\Git\usr\bin>>"%GITHUB_PATH%"
      - name: Load test images from cache
        id: cache-test-images
        uses: actions/cache@v4
        with:
          key: test-images-cache-${{ hashFiles('tests/download_test_images.py') }}
          path: tests/testdata/slides
          enableCrossOsArchive: true
          fail-on-cache-miss: true
      - name: Set up Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libturbojpeg libopenslide0
      - name: Set up OSX
        if: matrix.os == 'macos-latest'
        run: |
          echo OS_TAG=macos >> $GITHUB_ENV
          echo DYLD_LIBRARY_PATH=/opt/homebrew/lib >> $GITHUB_ENV
          brew install openslide
          brew unlink jpeg-turbo && brew install jpeg-turbo --HEAD
      - name: Set up Windows
        shell: pwsh
        if: matrix.os == 'windows-latest'
        run: |
          Invoke-WebRequest -Uri https://github.com/libjpeg-turbo/libjpeg-turbo/releases/download/3.0.90/libjpeg-turbo-3.0.90-vc64.exe -OutFile libjpeg-turbo-3.0.90-vc64.exe -UserAgent "NativeHost"
          7z e libjpeg-turbo-3.0.90-vc64.exe -oC:\turbojpeg bin/turbojpeg.dll
          Invoke-WebRequest -Uri https://github.com/openslide/openslide-winbuild/releases/download/v20221217/openslide-win64-20221217.zip -OutFile openslide-win64-20221217.zip -UserAgent "NativeHost"
          7z e openslide-win64-20221217.zip -oC:\openslide openslide-win64-20221217\bin
      - name: Set up paths in windows
        if: matrix.os == 'windows-latest'
        uses: actions/github-script@v7
        with:
          script: |
            core.addPath('C:\\openslide')
            core.addPath('C:\\turbojpeg')

      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install Application
        run: uv sync --all-extras
      - name: Test with pytest.
        run: uv run pytest
